<!DOCTYPE html>
<html>
    <head>
        <title>New Page</title>
        <link rel="stylesheet" href="../..//stylesheets/new.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>اكتب مقالا جديدا</h1>
        <form action="/admin/new" method="POST">
            <input name="image" placeholder="ضع رابط الصورة" value="<%= blog.image %>">
            <input name="title" placeholder="اكتب عنوان المقال" value="<%= blog.title %>">
            <textarea name="body" placeholder="اكتب المقال هنا"><%= blog.body %></textarea>
            <input name="genre" placeholder="اكتب نوع المقال" value="<%= blog.genre %>">
            <button type="submit">اضف المقال</button>
        </form>
    </body>
</html>