<!DOCTYPE html>
<html>
    <head>
        <title>علي التريند</title>
        <link rel="stylesheet" href="../stylesheets/login.css">
    </head>
    <body>
        <div>
            <form action="/admin/login" method="POST">
                <input name="password" placeholder="Enter Password To Login">
                <button type="submit">Enter</button>
            </form>
        </div>
    </body>
</html>