<!DOCTYPE html>
<html>
    <head>
        <title>علي التريند</title>
        <link rel="stylesheet" href="../../stylesheets/show.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/رياضة">رياضة</a></li>
                <li><a href="/فن">فن</a></li>
                <li><a href="/اخبار">اخبار</a></li>
                <li><a href="/">الصفحة الرئيسية</a></li>
            </ul>
        </nav>
        <section>
            <h1><%= blog.title %></h1>
            <div><%- blog.body %></div>
        </section>
    </body>
</html>